.mainDiv {
  display: flex;
  margin-bottom: 10%;
}
.leftDiv {
  margin-left: 10%;
  margin-top: 5%;
  width: 40%;
  height: 100%;
}
.flexDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.image {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.aboutMeDiv {
  margin-top: 5%;
  text-align: center;
  height: 100%;
}
.aboutMeDiv h1 {
  font-weight: 100;
  color: #616161;
}
.aboutMeDiv p {
  font-weight: lighter;
  font-size: 20px;
  color: #616161;
  margin-bottom: 2%;
}
.aboutMeDiv a 
{
    text-decoration: none;
    color: #009ada;
    font-weight: 100;
    font-size: 20px;
}
.rightDiv {
  margin-top: 5%;
  margin-left: 5%;
  width: 40%;
  height: 100%;
}

@media screen and (max-width:1000px) {
  .mainDiv {
    flex-direction: column;
  }
  .leftDiv {
    margin-top: 20%;
    margin-left: 0;
    margin-bottom: 10%;
    width: 100%;
  }
  .aboutMeDiv h1
  {
      font-size: 30px;
  }
  .aboutMeDiv p
  {
      font-size: 25px;
  }
  .rightDiv {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

}

  
